<!DOCTYPE html>
<html>

<head>

  <script>
    function didSelectPostAtIndex(index) {
        document.getElementById('sel_title_post').innerHTML = "Post "+ index;
        document.getElementById('sel_content_post').innerHTML = "Selected Content "+ index;
    }
  </script>

</head>

<body>

  <div class="body"></div>
    <div class="grad"></div>
    <div id='parent_header_div'>
      <div class="header header_child">
        <div>u<span>Blog</span></div>
      </div>
      <div class="menu_button">
        <!-- set document.location.href to URL /signin -->
        <input type="button" value="Logout" onClick="document.location.href='/signin';">
      </div>
      <div class="menu_button">
        <!-- set document.location.href to URL /posts/new -->
        <input type="button" value="Add Blog" onClick="document.location.href='/posts/new';">
      </div>
    </div>
    <div id='parent_body_div'>
      <div class="grad2">
        <div class="blog_display">
          <p><label id="sel_title_post" class="post_title">Welcome to uBlog!</label></p><hr>
          <p><label id="sel_content_post" class="post_content">“To live is the rarest thing in the world. Most people exist, that is all.” - Oscar Wilde</label></p>
        </div>
      </div>
      <div class="grad3">
        <div>
          <ul>
            <% @posts.each do |post| %>
              <li type="square">
                <p>
                  <!-- <a class="highlight" href="/posts/<%= post["id"] %>" onclick="didSelectPostAtIndex(<%= post["id"] %>)"><b><%= post["title"] %></b></a> -->
                  <a class="highlight" href="/posts/<%= post["id"] %>"><b><%= post["title"] %></b></a>
                </p>
              </li><hr/>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

</html>
