<!DOCTYPE html>
<html>
<head>
</head>

<body>

  <div class="body"></div>
    <div class="grad"></div>
    <div id='parent_header_div'>
      <div class="header header_child">
        <a href="/posts" style="text-decoration:none">
          <div>u<span>Blog</span></div>
        </a>
      </div>
      <div class="menu_button">
        <input type="button" value="Logout" onClick="document.location.href='/signin';">
      </div>
      <div class="menu_button">
        <input type="button" value="Edit" onClick="document.location.href='/posts/<%= @post["id"] %>/edit';">
      </div>
      <div class="menu_button">
        <input type="button" value="Delete" onclick="document.forms[0].submit();">
      </div>
    </div>
    <div id='parent_body_div'>
      <div class="grad2_full">
        <div class="subForm">
            <form action="/posts/<%= @post["id"] %>" method="POST">
              <input type="text" name="title" disabled value="<%= @post["title"] %>"><br><br>
              <!-- <textarea name="content" disabled><%= @post["content"] %></textarea> -->
              <div class="editable" name="content" ><%= @post["content"] %></div>
              <input type="hidden" name="_method" value="DELETE">
            </form>
        </div>
      </div>
    </div>


  </div>
